.shopping-cart {
  text-align: center;
  .cart-contents {

    .cart-item-subtotal {
      width: 20%;
      text-align: center;
    }
    .cart-item-price {
      width: 10%;
      text-align: center;
    }
    .cart-item-description {
      width: 220px;
      text-align: center;
    }
    .cart-item-description h4 {
      margin-top:0px;
    }
    .cart-item-quantity {
      width: 20%;
      text-align: center;
    }
    .product-card-thumbnail {
      width: 180px;
      text-align: center;
      padding-bottom: 20px;
    }
    .cart-item-total {
      width: 20%;
      text-align: center;
      border: 1px solid $secondary-color;
    }
    margin: 20px;
    padding-bottom: 30px;

    }
    padding-bottom: 50px;
}
